*~
__pycache__

nogit
__TRASH__

avr-datasheet-extractor

devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.html
devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.pdf
devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.stxt
devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.txt
devices/Infineon-1EDCxxI12AH-DataSheet-v02_00-EN.pdf
devices/Infineon-1EDCxxI12AH-DataSheet-v02_00-EN.txt

doc/standards/
