*~
__pycache__

nogit
__TRASH__

DatasheetExtractor/frontend/rcc/resources.py
DatasheetExtractor/frontend/rcc/application.rcc

mamba-dist/

avr-datasheet-extractor

devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.html
devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.pdf
devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.stxt
devices/AVR128DA28-32-48-64-Data-Sheet-40002183C.txt
devices/Infineon-1EDCxxI12AH-DataSheet-v02_00-EN.pdf
devices/Infineon-1EDCxxI12AH-DataSheet-v02_00-EN.txt
devices/NINA-B1_DataSheet_UBX-15019243.pdf
devices/NINA-W10_DataSheet_UBX-17065507.pdf

doc/standards/

DatasheetExtractor/frontend/qml/Widgets/dev/

DatasheetExtractor/frontend/rcc/icons/svg/flip-from-page.svg
DatasheetExtractor/frontend/rcc/icons/svg/recto-page.svg
DatasheetExtractor/frontend/rcc/icons/svg/verso-page.svg

dev/label.png
dev/p17.png

devices/11042684mxg.jpg
devices/15618922d2260bf8a03fc227d573eda71d373f5b.jpg
o.txt
page.png
review.json

doc/providers/
mupdf-cffi/_mupdf.c
mupdf-cffi/_mupdf.cpython-310-x86_64-linux-gnu.so
mupdf-cffi/log.txt
mupdf-cffi/mupdf-system
run.sh
